:root {
  --color-background: #e8d5ad;
  --color-primary: #992134;
  --color-accent: #b19571;
  --color-text: #1f2a41;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Barlow", sans-serif;
  color: var(--color-text);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--color-background);
}

.section {
  padding: 10px;
  margin-bottom: 20px;
}

.header,
.footer {
  background-color: var(--color-primary);
}

.header-container {
  margin: 0 auto;
  min-height: 50px;
  color: var(--color-background);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}

.nav-item {
  list-style: none;
}

.nav-link,
.footer-link {
  padding: 20px;
  line-height: 50px;
  text-decoration: none;
  color: var(--color-background);
  font-size: 18px;
  font-weight: 400;
  outline: none;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -5px;
  width: calc(100% - 24px);
  height: 2px;
  background-color: var(--color-background);
  opacity: 0;
  transition: 0.5s all ease;
}

.nav-link:hover,
.contacts-link:hover,
.education-link:hover,
.project-link:hover {
  color: var(--color-accent);
  text-decoration: underline;
  transition: all 0.5s ease;
}

.nav-link:hover:after,
.nav-link:focus:after {
  width: 100%;
}

.main {
  border: 1px solid var(--color-background);
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.photo-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  width: 30%;
  padding: 20px 30px;
}

.photo {
  width: 200px;
  height: 230px;
  object-fit: cover;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  filter: grayscale(0.2) brightness(1.05);
  transition: 0.5s;
  border: 2px solid var(--color-accent);
  margin: auto;
}

.profile-title {
  width: 70%;
  padding: 3rem 4rem;
}

.main-title {
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 50px;
  position: relative;
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 12%;
  margin-left: -70px;
  width: 140px;
  height: 2px;
  background-color: var(--color-accent);
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 50px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-side {
  width: 30%;
  padding: 20px;
  background-color: var(--color-primary);
  color: var(--color-background);
}

.section-title {
  margin-bottom: 15px;
  background-color: var(--color-accent);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  color: var(--color-text);
}

.section-describe,
.section-list,
.contacts-list,
.education-list,
.project-list {
  padding: 10px 20px;
}

.section-list:nth-child(2) {
  margin-left: 40px;
}

.contacts-item {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 30px;
}

.contacts-item:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--color-background);
  filter: invert(87%) sepia(42%) saturate(259%) hue-rotate(339deg)
    brightness(96%) contrast(88%);
}

.contacts-item:nth-child(1):before {
  background-image: url(./assets/icons/map-marker.svg);
}

.contacts-item:nth-child(2):before {
  background-image: url(./assets/icons/discord.svg);
}

.contacts-item:nth-child(3):before {
  background-image: url(./assets/icons/email.svg);
}

.contacts-item:nth-child(4):before {
  background-image: url(./assets/icons/github.svg);
}

.contacts-link,
.education-link {
  color: var(--color-background);
}

.education-item,
.skills-item {
  margin-bottom: 10px;
}

.right-side {
  width: 70%;
  padding: 20px;
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.skills-item,
.project-item {
  list-style-type: square;
  list-style-position: inside;
}

.project-item {
  margin-bottom: 10px;
}

.project-item:last-child {
  margin-bottom: 0px;
}

.pre {
  display: block;
  white-space: pre-line;
  padding: 10px 20px;
}

.project-link {
  color: var(--color-text);
}
